<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: yellow;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 40px;
}
</style>
</head>
<body>

<h1>Tiger-Book</h1>
<p>A place by Tigers for Tigers</p>

</body>
</html>
