<!DOCTYPE html>
<html>
<head>
    <title>HTML5 Form</title>
<style>
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
form {
    width: 400px;
    /*margin: 10px auto; to centre */
    padding: 10px 20px;
    border-radius: 15px;
    background-color: gold;
    font-size: 12px;
}
fieldset {
    border: 1px solid black;
    margin-top: 5px;
    padding: 4px 8px;
}
fieldset.open {
    border: none;
}
fieldset.centre {
    text-align: center;
}
fieldset.centre legend {
    text-align: left;
}
legend {
    font-weight: bold;
}
label {
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 3px;
}
label span {
    display: inline-block;
    width: 100px;
    height: 16px;
    text-align: right;
    margin-right: 15px;
}
label span.inline {
    width: auto;
    margin-right: 0;
}
input, select {
    font-size: 12px;
    padding: 2px;
}
input:required {
    border: 2px inset red;
}
input[type='date'] {
    height: 16px;
}
input[type='range'] {
    position: relative;
    bottom: -5px;
}
/*input[type='radio'], input[type='checkbox'] {
    vertical-align: -2px;
}*/
#btnSubmit {
    float: right;
    padding: 4px 8px;
}
</style>
</head>
<body>
<form id="frmPersonal" action="processpersonal.php" method="POST">
<fieldset>
    <legend>Name:</legend>
    <label><span>First Name:</span>
    <input type="text" name="firstname" size="20" maxlength="30" required></label>
    <label><span>Last Name:</span>
    <input type="text" name="lastname" size="20" maxlength="30" required></label>
    <label><span>Preferred Pronoun:</span>
        <select name="selTitle">
            <option value= selected>(select)</option>
                        <option value="He/Him">He/Him</option>
            <option value="She/Her">She/Her</option>
            <option value="They/Them">TheyThem</option>
            <option value="Xir/Xe">Xir/Xe</option>
                        <option value="N/A">N/A</option>
        </select>
    </label>
</fieldset>
<fieldset class="open">
<!-- Using a fieldset with no border is the easiest way
to keep this single input inline with the others. -->
<label><span>Date of Birth:</span>
<input type="date" name="dob"></label>
<fieldset class="centre">
    <legend>I am interested in::</legend>
    <label><span class="inline">Services</span></span>
    <input type="checkbox" name="languages[]" value="ccpp"></label>
    <label><span class="inline">Tutoring</span>
    <input type="checkbox" name="languages[]" value="java"></label>
    <label><span class="inline">Clubs</span>
    <input type="checkbox" name="languages[]" value="csharp"></label>
    <label><span class="inline">Social</span>
    <input type="checkbox" name="languages[]" value="js"></label>
</fieldset>
<fieldset class="centre">
    <legend>Current Year:</legend>
    <label><span class="inline">Freshman</span></span>
    <input type="checkbox" name="languages[]" value="ccpp"></label>
    <label><span class="inline">Sophmore</span>
    <input type="checkbox" name="languages[]" value="java"></label>
    <label><span class="inline">Junior</span>
    <input type="checkbox" name="languages[]" value="csharp"></label>
    <label><span class="inline">Senior</span>
    <input type="checkbox" name="languages[]" value="js"></label>

</fieldset>
<fieldset>
    <legend>Contact:</legend>
    <label><span>Telephone:</span><input type="tel" name="telephone"></label>

    <label><span>Email:</span><input type="email" name="email" size="30" required></label>
    <label><span>Towson ID::</span><input type="url" name="towsonID"size="30"></label>
</fieldset>
<fieldset class="centre">
    <legend>Comments:</legend>
    <textarea name="comments" rows="4" cols="40" placeholder="Your comments.."></textarea>
</fieldset>
<fieldset class="open">
    <input type="submit" id="btnSubmit" name="btnSubmit" value="Submit">
</fieldset>
</form>
</body>
</html>
