@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');
@import url('https://fonts.googleapis.com/css?family=Oswald:200');

.wrapper-nav {
	display: flex;
	font-family: 'Oswald', sans-serif;
}

.createPost {
	
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	width: 200;
	background-color: yellow;


}

.visitCommunity {
	
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	width: 200;
	background-color: blue;
}

.account{
	
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	width: 200;
	background-color: yellow;
}

.signOut{
	
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	width: 200;
	background-color: blue;
}