.window-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background: red;
	height: 1000px;
	padding: 5px;
	;
}

.feed{
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: left;
	background: grey;
	border: 2px solid black;
	margin: 25px 50px 75px 100px;
}

.explore{
	display: flex;
	flex: 2;
	justify-content: center;
	align-items: left;
	background: grey;
	border: 2px solid black;
	margin: 25px 50px 75px 100px;
}